<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>350579309222-h5u06jdg2bhr2tjpq60rqg4ggml9n1p5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.350579309222-h5u06jdg2bhr2tjpq60rqg4ggml9n1p5</string>
	<key>API_KEY</key>
	<string>AIzaSyDGc153h6weSXIuRXbXMr0UNGmbDAWEl58</string>
	<key>GCM_SENDER_ID</key>
	<string>350579309222</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tiktokClone.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>tiktok-clone-58efc</string>
	<key>STORAGE_BUCKET</key>
	<string>tiktok-clone-58efc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:350579309222:ios:b4c9c946cf05fbdb3e5267</string>
</dict>
</plist>