<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>607600861665-sp6apg9ufjjfs9ubh4kuk6h2sdm808db.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.607600861665-sp6apg9ufjjfs9ubh4kuk6h2sdm808db</string>
	<key>API_KEY</key>
	<string>AIzaSyA_1irywCoJNYUkuWswiBZeucOHvQcMpRc</string>
	<key>GCM_SENDER_ID</key>
	<string>607600861665</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.studyApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>study-app-b2bbd</string>
	<key>STORAGE_BUCKET</key>
	<string>study-app-b2bbd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:607600861665:ios:6322582a71f9433a5a72a0</string>
</dict>
</plist>